flows/Create_a_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignContactFields</name>
        <label>AssignContactFields</label>
        <locationX>847</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BirthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactCreateFromVariable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EmailChoice</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>LeadSourcePickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Purchased List
Other</description>
        <name>LeadSourcePicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create a Contact 4{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Contact 4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This element will insert new contact record in the system</description>
        <name>ContactCreate</name>
        <label>ContactCreate</label>
        <locationX>1153</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreeen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>BirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ContactCreateFromVariable</name>
        <label>ContactCreateFromVariable</label>
        <locationX>667</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreeen</targetReference>
        </faultConnector>
        <inputReference>ContactRecord</inputReference>
    </recordCreates>
    <screens>
        <name>AccountInformation</name>
        <label>Account Information</label>
        <locationX>664</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignContactFields</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LeadSource</name>
            <choiceReferences>LeadSourcePickList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Enter name of the  contact</description>
        <name>ContactName</name>
        <label>Contact Name</label>
        <locationX>357</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PersonalInfo</targetReference>
        </connector>
        <fields>
            <name>name</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Please tell me your name and last name.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>rgb(224, 7, 28)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>FirstName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Let&apos;s Do This</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreeen</name>
        <label>ErrorScreeen</label>
        <locationX>989</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(224, 11, 11);&quot;&gt;Contact creation failed with message: &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(224, 11, 11); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PersonalInfo</name>
        <label>Personal Info</label>
        <locationX>503</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountInformation</targetReference>
        </connector>
        <fields>
            <name>NameScript</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Please add your birth date and email address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BirthDate</name>
            <dataType>Date</dataType>
            <fieldText>BirthDate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>EmailChoice</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>738</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(12, 234, 35); font-size: 16px;&quot;&gt;Contact created successfully with ID: &lt;/span&gt;&lt;a href=&quot;/lightning/r/{!ContactCreate}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(12, 234, 35); font-size: 16px;&quot;&gt;{!ContactCreate}&lt;/a&gt;&lt;img src=&quot;https://muradi2-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/download/0685f000003PLYe?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>464</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>ContactName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contact ContactRecord=new Contact();</description>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
